@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500&display=swap");
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
* {
  margin: 0;
  padding: 0;
  font-family: "M PLUS Rounded 1c", sans-serif;
}

html {
  background-color: #222222;
  justify-self: center;
  margin-left: 6%;
}
.transactions {
  margin-left: 1%;
  border-radius: 6px;
}
.transaction-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: #fff8dc;
  border-bottom: solid #222222;
  width: 90%;
}
h3 {
  color: #222222;
  text-align: center;
  font-size: calc(0.7rem + 1vw);
}
.transaction {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: #f7f7f7;

  width: 90%;
}
.deposit {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 30%;
  margin-top: 5%;
  margin-left: 29.8%;
  column-gap: 10px;
}
#deposit {
  font-size: calc(0.5rem + 1vw);
  background-color: #fff8dc;
}

#withdraw {
  font-size: calc(0.5rem + 1vw);
  background-color: #fff8dc;
}
.balance {
  margin-top: 5%;
  margin-bottom: 2%;
  margin-left: 3%;
  color: #222222;
  color: #f7f7f7;
  justify-content: space-around;
  border-radius: 6px;
  display: grid;
  justify-self: start;
}
.transInput {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 90%;
  margin-left: 5%;
  margin-top: 8%;
}
#amount,
#vendor,
#category {
  width: 93%;
  height: 100%;
}

.material-symbols-outlined {
  cursor: pointer;
}
.amount,
.vendor,
.category {
  /* border-right: 5px solid #222222; */
  text-align: center;
  font-size: calc(0.6rem + 1vw);
}
.material-symbols-outlined {
  text-align: center;
}
.amount {
  text-align: center;
}
.header {
  color: cornsilk;
  text-align: center;
  margin-top: 9px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 0.45fr 1fr;
}
.operationsLink {
  width: 18%;
  background-color: #fff8dc;
  border-radius: 6px;
  text-align: center;
  margin-top: 15px;
  margin-left: 1%;
}
a {
  color: black;
  font-size: calc(0.6rem + 1vw);
  color: #222222;

  text-decoration: none;
}
.transactions div:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.transactions div:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.title {
  display: grid;
  justify-self: start;
  font-size: calc(0.9rem + 1.8vw);
  margin-left: 4%;
}
.category {
  margin-left: 1%;
  border-radius: 6px;
}
.category div:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.category div:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.categoryHeader {
  display: grid;
  background-color: #fff8dc;
  border-bottom: solid #222222;
  width: 90%;
  grid-template-columns: 1fr 1fr;
}
.categoryInfo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #f7f7f7;
  width: 90%;
}
.options {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  margin-left: 0.8%;
}
.operationsLink {
  width: calc(0.95rem + 15vw);
}

.categoryAmount,
.categoryName {
  font-size: calc(0.4rem + 1vw);
}
.operations {
  margin-left: 0;
}
